/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  color:#333333;
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style:none;
}
*:focus{
  outline:none;
}
*:active{
  outline:none;
}
