<div class="b-add-email">
    <div class="b-add-email__title">
        Share <span>Board name</span> with other
    </div>
    <div class="b-add-email__input">
        <div class="email-block" *ngFor="let email of emails" [ngClass]="{valid:email.isValid}">
            {{email.value}}
            <button class="delete-btn" (click)='deleteEmail(email)'></button>
        </div>

        <form (submit)='addEmail(emailInput)'>
            <input id="email" name="email" placeholder="add more email..." type="email" [(ngModel)]='emailInput'
                   (ngModelChange)='changeInput()' (blur)='addEmail(emailInput)'
                   (paste)=' pasteCheck($event)'>
        </form>
    </div>
</div>
<div class="b-btns">
    <button class="btn" (click)="randomEmail()">Add random email</button>
    <button class="btn" (click)="checkCount()">Get emails count</button>
</div>


