$main-font:'Open Sans',sans-serif;

.b-add-email{
  width: 500px;
  height: 220px;
  padding:29px 40px;
  background-color: #f5f5f5;

}
.b-add-email__title{
  font: 400 20px $main-font;
  span{
    font-weight: 700;
  }
}
.b-add-email__input{
  background-color: white;
  height: 61%;
  width: 100%;
  margin-top: 35px;
  overflow-y:auto;
  padding: 7px 8px;
  form{
    display:inline-block;
    width: 50%;
  }
  input{
    width: 100%;
    font: 400 14px $main-font;
    border:none;
    padding:2px 0;
    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50px #ffffff !important;
      -webkit-text-fill-color: #333333 !important;
      color: #333333 !important;
    }
  }
  .email-block{
    display:inline-block;
    font: 400 14px $main-font;
    border-radius: 20px;
    padding:2px 28px 2px 10px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 73, 46, 0.35);
    .delete-btn{
      border: none;
      width: 8px;
      height: 8px;
      position: absolute;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      background: url(img/close.svg) center /cover no-repeat;
      cursor: pointer;
    }
    &.valid{
      background-color: #d4e4ff;
    }

  }
}
.b-btns{
  padding:30px;
  .btn{
    border: none;
    border-radius: 3px;
    margin:0 10px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #6699ff;
    cursor: pointer;
    font: 400 14px $main-font;
    color: white;
  }
}